<!DOCTYPE html>
 <html>

    <head>

    	<!-- Metas -->
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta name="keywords" content="{{ _('meta.keywords') }}" />
		<meta name="description" content="{{ _('meta.description') }}" />
		<meta name="author" content="" />

		<!-- Title  -->
		<title>{{ _('page_title') }}</title>

		<!-- Favicon -->
		<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />

		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900" rel="stylesheet">

		<!-- Plugins -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/plugins.css') }}" />


        <!-- Core Style Css -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

    </head>

    <body>

    	<!-- =====================================
    	==== Start Loading -->

    	<div class="loading">
    		<div class="text-center middle">
    			<div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    		</div>
    	</div>

    	<!-- End Loading ====
    	======================================= -->


    	<!-- =====================================
    	==== Start Navbar -->

		<nav class="navbar navbar-expand-lg">
			<div class="container">

            <!-- Logo -->
            <a class="logo" href="#">
                <img src="{{ url_for('static', filename='img/logo-light.png') }}" alt="logo">
            </a>

			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="icon-bar"><i class="fas fa-bars"></i></span>
			  </button>

			  <!-- navbar links -->
			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav ml-auto">
			      <li class="nav-item">
			        <a class="nav-link active" href="#" data-scroll-nav="0">{{ _('nav.item_1') }}</a>
			      </li>
			      <li class="nav-item">
                    <a class="nav-link" href="#" data-scroll-nav="1">{{ _('nav.item_2') }}</a>
                  </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#" data-scroll-nav="2">{{ _('nav.item_3') }}</a>
			      </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" data-scroll-nav="3">{{ _('nav.item_4') }}</a>
                  </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#" data-scroll-nav="4">{{ _('nav.item_5') }}</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#" data-scroll-nav="5">{{ _('nav.item_6') }}</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#" data-scroll-nav="6">{{ _('nav.item_7') }}</a>
			      </li>
			    </ul>
			  </div>
			</div>
		</nav>

    	<!-- End Navbar ====
    	======================================= -->


    	<!-- =====================================
    	==== Start Header -->

    	<header class="header valign bg-img" data-scroll-index="0" data-overlay-color="7" data-background="{{ url_for('static', filename='img/bg4.jpg') }}" data-stellar-background-ratio="0.5">

    		<div class="container">
    			<div class="text-center caption mt-30">
                    <!--<h4>We Are</h4>-->
                    <h1>{{ _('header_title') }}</h1>
                    <div class="row">
                        <div class="offset-md-1 col-md-10 offset-lg-2 col-lg-8">
                            <p>{{ _('header_description') }}</p>
                        </div>
                    </div>
                    <a href="#0" class="butn butn-light mt-30">
                        <span>{{ _('header_button') }}</span>
                    </a>
                </div>
    		</div>

            <div class="curve curve-bottom curve-center"></div>
    	</header>

    	<!-- End Header ====
    	======================================= -->



        <!-- =====================================
        ==== Start Hero -->

        <section class="hero" data-scroll-index="1">
            <div class="section-padding pos-re">
                <div class="container">
                    <div class="row">
                        <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10 text-center mb-80">
                            <h4 class="extra-title">{{ _('hero_title') }}</h4>
                            <p>{{ _('hero_description') }}</p>
                        </div>

                        <div class="feat-item mb-md50 col-lg-4">
                            <div class="text-center">
                                <span class="icon icon-basic-anchor"></span>
                                <h5>{{ _('services.title1') }}</h5>
                                <h6>{{ _('services.sub1') }}</h6>
                                <p>{{ _('services.description1') }}</p>
                            </div>
                        </div>

                        <div class="feat-item active mb-md50 col-lg-4">
                            <div class="text-center">
                                <span class="icon icon-basic-pencil-ruler"></span>
                                <h5>{{ _('services.title2') }}</h5>
                                <h6>{{ _('services.sub2') }}</h6>
                                <p>{{ _('services.description2') }}</p>
                            </div>
                        </div>

                        <div class="feat-item col-lg-4">
                            <div class="text-center">
                                <span class="icon icon-basic-cards-diamonds"></span>
                                <h5>{{ _('services.title3') }}</h5>
                                <h6>{{ _('services.sub3') }}</h6>
                                <p>{{ _('services.description3') }}</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="curve curve-gray-b curve-bottom"></div>
            </div>

            <div class="tabs-section section-padding bg-gray">
                <div class="container">
                    <div class="row">

                        <ul class="col-md-12 nav nav-pills tabs" id="pills-tab" role="tablist">
                            <li class="nav-item one active">
                                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">{{ _('about.tab1') }}</a>
                            </li>
                            <li class="nav-item two">
                                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">{{ _('about.tab2') }}</a>
                            </li>
                            <li class="nav-item three">
                                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false">{{ _('about.tab3') }}</a>
                            </li>
                        </ul>

                        <div class="tab-content col-lg-12" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="pills-home-tab">
                                <div class="row">
                                    <div class="left col-lg-6">
                                        <div class="about box-white">
                                            <h5 class="title">{{ _('about.title1') }}</h5>
                                            <h6 class="sub-title">{{ _('about.sub1') }}</h6>
                                            <p>{{ _('about.description1') }}</p>

                                            <!-- Skills -->

                                            <div class="skills mt-40">
                                                <div class="skill-item mb-30">
                                                    <h6>{{ _('about.service1_1') }}</h6>
                                                    <div class="skill-progress">
                                                        <div class="progres" data-value="90%"></div>
                                                    </div>
                                                </div>
                                                <div class="skill-item mb-30">
                                                    <h6>{{ _('about.service2_1') }}</h6>
                                                    <div class="skill-progress">
                                                        <div class="progres" data-value="75%"></div>
                                                    </div>
                                                </div>
                                                <div class="skill-item">
                                                    <h6>{{ _('about.service3_1') }}</h6>
                                                    <div class="skill-progress">
                                                        <div class="progres" data-value="80%"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 image">
                                        <div class="img">
                                            <img src="{{ url_for('static', filename='img/2.jpg') }}" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="pills-home-tab">
                                <div class="row">
                                    <div class="left col-lg-6">
                                        <div class="mission box-white">
                                            <h5 class="title">{{ _('about.title2') }}</h5>
                                            <h6 class="sub-title">{{ _('about.sub2') }}</h6>
                                            <p class="mb-10">{{ _('about.description2') }}</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 image">
                                        <div class="img">
                                            <img src="{{ url_for('static', filename='img/3.jpg') }}" alt="">
                                            <a class="vid" href="https://vimeo.com/127203262">
                                                <span class="vid-butn">
                                                    <i class="fas fa-play-circle"></i>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="pills-home-tab">
                                <div class="row">
                                    <div class="left col-lg-6">
                                        <div class="why-us box-white">
                                            <h5 class="title">{{ _('about.title3') }}</h5>
                                            <h6 class="sub-title">{{ _('about.sub3') }}</h6>
                                            <p>{{ _('about.description3') }}</p>
                                            <ul class="feat mt-30 row">
                                                <li class="col-sm-4">
                                                    <span class="icon icon-basic-display"></span>
                                                    <h6>{{ _('about.adv1_3') }}</h6>
                                                </li>
                                                <li class="col-sm-4">
                                                    <span class="icon icon-basic-picture-multiple"></span>
                                                    <h6>{{ _('about.adv2_3') }}</h6>
                                                </li>
                                                <li class="col-sm-4">
                                                    <span class="icon icon-basic-headset"></span>
                                                    <h6>{{ _('about.adv3_3') }}</h6>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 image">
                                        <div class="img owl-carousel owl-theme carousel-single">
                                            <img src="{{ url_for('static', filename='img/4.jpg') }}" alt="">
                                            <img src="{{ url_for('static', filename='img/5.jpg') }}" alt="">
                                            <img src="{{ url_for('static', filename='img/2.jpg') }}" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <!-- End Hero ====
        ======================================= -->


        <!-- =====================================
        ==== Start Process -->

        <div class="process section-padding bg-img bg-fixed pos-re text-center" data-overlay-color="7" data-background="{{ url_for('static', filename='img/bg6.jpg') }}">
            <div class="container">
                <div class="row">

                    <div class="section-head offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                        <h4>{{ _('process.title') }}
                        <p>{{ _('process.description') }}</p>
                    </div>
                    <div class="full-width clearfix"></div>

                    <div class="col-lg-3 col-md-6">
                        <div class="item first mb-md50">
                            <img src="{{ url_for('static', filename='img/arrow.png') }}" class="tobotm" alt="">
                            <span class="icon icon-basic-lightbulb"></span>
                            <div class="cont">
                                <h3>{{ _('process.step1_num') }}</h3>
                                <h6>{{ _('process.step1_title') }}</h6>
                                <p>{{ _('process.step1_description') }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="item odd mb-md50">
                            <img src="{{ url_for('static', filename='img/arrow.png') }}" alt="">
                            <span class="icon icon-basic-book-pencil"></span>
                            <div class="cont">
                                <h3>{{ _('process.step2_num') }}</h3>
                                <h6>{{ _('process.step2_title') }}</h6>
                                <p>{{ _('process.step2_description') }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="item mb-sm50">
                            <img src="{{ url_for('static', filename='img/arrow.png') }}" class="tobotm" alt="">
                            <span class="icon icon-basic-pencil-ruler"></span>
                            <div class="cont">
                                <h3>{{ _('process.step3_num') }}</h3>
                                <h6>{{ _('process.step3_title') }}</h6>
                                <p>{{ _('process.step3_description') }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="item odd">
                            <span class="icon icon-basic-server-upload"></span>
                            <div class="cont">
                                <h3>{{ _('process.step4_num') }}</h3>
                                <h6>{{ _('process.step4_title') }}</h6>
                                <p>{{ _('process.step4_description') }}</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="curve curve-gray-t curve-top"></div>
            <div class="curve curve-bottom"></div>
        </div>

        <!-- End Process ====
        ======================================= -->


        <!-- =====================================
        ==== Start Works -->

        <section class="works section-padding" data-scroll-index="2">
            <div class="container">
                <div class="row">

                    <div class="section-head offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                        <h4>{{ _('portfolio.title') }}</h4>
                        <p>{{ _('portfolio.description') }}</p>
                    </div>

                </div>
            </div>

            <div class="container-fluid">
                <div class="row">

                    <!-- filter links -->
                    <div class="filtering text-center mb-30 col-sm-12">
                        <div class="filter">
                            <span data-filter='*' class="active">{{ _('portfolio.cat1') }}</span>
                            <span data-filter='.brand'>{{ _('portfolio.cat2') }}</span>
                            <span data-filter='.web'>{{ _('portfolio.cat3') }}</span>
                            <span data-filter='.graphic'>{{ _('portfolio.cat4') }}</span>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <!-- gallery -->
                    <div class="gallery full-width">

                        <!-- gallery item -->
                        <div class="col-lg-3 col-md-6 items graphic">
                            <div class="item-img">
                                <img src="{{ url_for('static', filename='img/portfolio/1.jpg') }}" alt="image">
                                <div class="item-img-overlay">
                                    <div class="overlay-info full-width">
                                        <p>{{ _('portfolio.proj1_type') }}</p>
                                        <h6>{{ _('portfolio.proj1_name') }}</h6>
                                        <a href="{{ url_for('static', filename='img/portfolio/1.jpg') }}" class="popimg">
                                            <span class="icon"><i class="fas fa-long-arrow-alt-right"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- gallery item -->
                        <div class="col-lg-3 col-md-6 items web">
                            <div class="item-img">
                                <img src="{{ url_for('static', filename='img/portfolio/2.jpg') }}" alt="image">
                                <div class="item-img-overlay">
                                    <div class="overlay-info full-width">
                                        <p>{{ _('portfolio.proj2_type') }}</p>
                                        <h6>{{ _('portfolio.proj2_name') }}</h6>
                                        <a href="{{ url_for('static', filename='img/portfolio/2.jpg') }}" class="popimg">
                                            <span class="icon"><i class="fas fa-long-arrow-alt-right"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- gallery item -->
                        <div class="col-lg-3 col-md-6 items brand">
                            <div class="item-img">
                                <img src="{{ url_for('static', filename='img/portfolio/3.jpg') }}" alt="image">
                                <div class="item-img-overlay">
                                    <div class="overlay-info full-width">
                                        <p>{{ _('portfolio.proj3_type') }}</p>
                                        <h6>{{ _('portfolio.proj3_name') }}</h6>
                                        <a href="{{ url_for('static', filename='img/portfolio/3.jpg') }}" class="popimg">
                                            <span class="icon"><i class="fas fa-long-arrow-alt-right"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- gallery item -->
                        <div class="col-lg-3 col-md-6 items graphic">
                            <div class="item-img">
                                <img src="{{ url_for('static', filename='img/portfolio/4.jpg') }}" alt="image">
                                <div class="item-img-overlay">
                                    <div class="overlay-info full-width">
                                        <p>{{ _('portfolio.proj4_type') }}</p>
                                        <h6>{{ _('portfolio.proj4_name') }}</h6>
                                        <a href="{{ url_for('static', filename='img/portfolio/4.jpg') }}" class="popimg">
                                            <span class="icon"><i class="fas fa-long-arrow-alt-right"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- gallery item -->
                        <div class="col-lg-3 col-md-6 items web">
                            <div class="item-img">
                                <img src="{{ url_for('static', filename='img/portfolio/5.jpg') }}" alt="image">
                                <div class="item-img-overlay">
                                    <div class="overlay-info full-width">
                                        <p>{{ _('portfolio.proj5_type') }}</p>
                                        <h6>{{ _('portfolio.proj5_name') }}</h6>
                                        <a href="{{ url_for('static', filename='img/portfolio/5.jpg') }}" class="popimg">
                                            <span class="icon"><i class="fas fa-long-arrow-alt-right"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- gallery item -->
                        <div class="col-lg-3 col-md-6 items brand">
                            <div class="item-img">
                                <img src="{{ url_for('static', filename='img/portfolio/6.jpg') }}" alt="image">
                                <div class="item-img-overlay">
                                    <div class="overlay-info full-width">
                                        <p>{{ _('portfolio.proj6_type') }}</p>
                                        <h6>{{ _('portfolio.proj6_name') }}</h6>
                                        <a href="{{ url_for('static', filename='img/portfolio/6.jpg') }}" class="popimg">
                                            <span class="icon"><i class="fas fa-long-arrow-alt-right"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- gallery item -->
                        <div class="col-lg-3 col-md-6 items brand">
                            <div class="item-img">
                                <img src="{{ url_for('static', filename='img/portfolio/7.jpg') }}" alt="image">
                                <div class="item-img-overlay">
                                    <div class="overlay-info full-width">
                                        <p>{{ _('portfolio.proj7_type') }}</p>
                                        <h6>{{ _('portfolio.proj7_name') }}</h6>
                                        <a href="{{ url_for('static', filename='img/portfolio/7.jpg') }}" class="popimg">
                                            <span class="icon"><i class="fas fa-long-arrow-alt-right"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- gallery item -->
                        <div class="col-lg-3 col-md-6 items graphic">
                            <div class="item-img">
                                <img src="{{ url_for('static', filename='img/portfolio/8.jpg') }}" alt="image">
                                <div class="item-img-overlay">
                                    <div class="overlay-info full-width">
                                        <p>{{ _('portfolio.proj8_type') }}</p>
                                        <h6>{{ _('portfolio.proj8_name') }}</h6>
                                        <a href="{{ url_for('static', filename='img/portfolio/8.jpg') }}" class="popimg">
                                            <span class="icon"><i class="fas fa-long-arrow-alt-right"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </section>

        <!-- End Works ====
        ======================================= -->


        <!-- =====================================
        ==== Start Why-us -->

        <div class="why-us section-padding bg-gray pos-re">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6">
                        <div class="img mb-md50">
                            <img src="{{ url_for('static', filename='img/1.jpg') }}" alt="">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="content pt-10">
                            <div class="item mb-40">
                                <span class="icon icon-basic-display"></span>
                                <div class="cont">
                                    <h5>{{ _('adv1_title') }}</h5>
                                    <p>{{ _('adv1_description') }}</p>
                                </div>
                            </div>
                            <div class="item mb-40">
                                <span class="icon icon-basic-bolt"></span>
                                <div class="cont">
                                    <h5>{{ _('adv2_title') }}</h5>
                                    <p>{{ _('adv2_description') }}</p>
                                </div>
                            </div>
                            <div class="item">
                                <span class="icon icon-basic-headset"></span>
                                <div class="cont">
                                    <h5>{{ _('adv3_title') }}</h5>
                                    <p>{{ _('adv3_description') }}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="curve curve-top"></div>
            <div class="curve curve-bottom"></div>
        </div>

        <!-- End Why-us ====
        ======================================= -->


        <!-- =====================================
        ==== Start Teams -->

        <section class="team section-padding" data-scroll-index="3">
            <div class="container">
                <div class="row">

                    <div class="section-head offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                        <h4>{{ _('team.title') }}</h4>
                        <p>{{ _('team.description') }}</p>
                    </div>

                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="team-img">
                                <img src="{{ url_for('static', filename='img/team/1.jpg') }}" alt="">
                                <div class="social">
                                    <a href="#0" class="icon">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="#0" class="icon">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="#0" class="icon">
                                        <i class="fab fa-behance"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="info">
                                <h6>{{ _('team.member1_name') }}</h6>
                                <span>{{ _('team.member1_title') }}</span>
                            </div>
                        </div>

                        <div class="item">
                            <div class="team-img">
                                <img src="{{ url_for('static', filename='img/team/2.jpg') }}" alt="">
                                <div class="social">
                                    <a href="#0" class="icon">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="#0" class="icon">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="#0" class="icon">
                                        <i class="fab fa-behance"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="info">
                                <h6>{{ _('team.member2_name') }}</h6>
                                <span>{{ _('team.member2_title') }}</span>
                            </div>
                        </div>

                        <div class="item">
                            <div class="team-img">
                                <img src="{{ url_for('static', filename='img/team/3.jpg') }}" alt="">
                                <div class="social">
                                    <a href="#0" class="icon">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="#0" class="icon">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="#0" class="icon">
                                        <i class="fab fa-behance"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="info">
                                <h6>{{ _('team.member3_name') }}</h6>
                                <span>{{ _('team.member3_title') }}</span>
                            </div>
                        </div>

                        <div class="item">
                            <div class="team-img">
                                <img src="{{ url_for('static', filename='img/team/4.jpg') }}" alt="">
                                <div class="social">
                                    <a href="#0" class="icon">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="#0" class="icon">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="#0" class="icon">
                                        <i class="fab fa-behance"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="info">
                                <h6>{{ _('team.member4_name') }}</h6>
                                <span>{{ _('team.member4_title') }}</span>
                            </div>
                        </div>

                        <div class="item">
                            <div class="team-img">
                                <img src="{{ url_for('static', filename='img/team/3.jpg') }}" alt="">
                                <div class="social">
                                    <a href="#0" class="icon">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="#0" class="icon">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="#0" class="icon">
                                        <i class="fab fa-behance"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="info">
                                <h6>{{ _('team.member5_name') }}</h6>
                                <span>{{ _('team.member5_title') }}</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- End Teams ====
        ======================================= -->



        <!-- =====================================
        ==== Start Testimonials -->

        <section class="testimonials section-padding bg-img bg-fixed pos-re" data-overlay-color="7" data-background="{{ url_for('static', filename='img/bg4.jpg') }}">
            <div class="container">
                <div class="row">

                    <div class="section-head offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                        <h4>{{ _("feedback.title") }}</h4>
                        <p>{{ _('feedback.description') }}</p>
                    </div>

                    <div class="owl-carousel owl-theme text-center col-lg-10 offset-lg-1">
                        <div class="item-box">
                            <span class="quote">
                                <img src="{{ url_for('static', filename='img/quot.png') }}" alt="">
                            </span>
                            <p>{{ _('feedback.mesage1.text') }}</p>
                            <div class="info">
                                <div class="author-img">
                                    <img src="{{ url_for('static', filename='img/quot.png') }}" alt="">
                                </div>
                                <div class="cont">
                                    <h6>{{ _('feedback.mesage1.author') }}</h6>
                                    <span>{{ _('feedback.mesage1.author_title') }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="item-box">
                            <span class="quote">
                                <img src="{{ url_for('static', filename='img/quot.png') }}" alt="">
                            </span>
                            <p>{{ _('feedback.mesage2.text') }}</p>
                            <div class="info">
                                <div class="author-img">
                                    <img src="{{ url_for('static', filename='img/clients/2.jpg') }}" alt="">
                                </div>
                                <div class="cont">
                                    <h6>{{ _('feedback.mesage2.author') }}</h6>
                                    <span>{{ _('feedback.mesage2.author_title') }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="item-box">
                            <span class="quote">
                                <img src="{{ url_for('static', filename='img/quot.png') }}" alt="">
                            </span>
                            <p>{{ _('feedback.mesage3.text') }}</p>
                            <div class="info">
                                <div class="author-img">
                                    <img src="{{ url_for('static', filename='img/clients/3.jpg') }}" alt="">
                                </div>
                                <div class="cont">
                                    <h6>{{ _('feedback.mesage3.author') }}</h6>
                                    <span>{{ _('feedback.mesage3.author_title') }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="item-box">
                            <span class="quote">
                                <img src="{{ url_for('static', filename='img/quot.png') }}" alt="">
                            </span>
                            <p>{{ _('feedback.mesage4.text') }}</p>
                            <div class="info">
                                <div class="author-img">
                                    <img src="{{ url_for('static', filename='img/clients/4.jpg') }}" alt="">
                                </div>
                                <div class="cont">
                                    <h6>{{ _('feedback.mesage4.author') }}</h6>
                                    <span>{{ _('feedback.mesage4.author_title') }}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="curve curve-top"></div>
        </section>

        <!-- End Testimonials ====
        ======================================= -->


        <!-- =====================================
        ==== Start Price -->

        <section class="price section-padding bg-gray pos-re" data-scroll-index="4">
            <div class="container">
                <div class="row">

                    <div class="section-head offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                        <h4>{{ _('pricing.title') }}</h4>
                        <p>{{ _('pricing.description') }}</p>
                    </div>

                    <div class="pricing-tables text-center full-width">

                        <div class="row">

                            <div class="col-lg-3">
                                <div class="item mb-md50">
                                    <div class="type">
                                        <h4>{{ _('pricing.service1.title') }}</h4>
                                    </div>

                                    <div class="value">
                                        {{ _('pricing.service1.price') }}
                                    </div>

                                    <div class="features">
                                        <ul>
                                            <li>{{ _('pricing.service1.what_you_get1') }}</li>
                                            <li>{{ _('pricing.service1.what_you_get2') }}</li>
                                            <li>{{ _('pricing.service1.what_you_get3') }}</li>
                                            <li>{{ _('pricing.service1.what_you_get4') }}</li>
                                            <li>{{ _('pricing.service1.what_you_get5') }}</li>
                                        </ul>
                                    </div>

                                    <div class="order">
                                        <a href="#0" class="butn butn-bg">
                                            <span>{{ _('pricing.service1.buy_button') }}</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="item mb-md50">
                                    <div class="type">
                                        <h4>{{ _('pricing.service2.title') }}</h4>
                                    </div>

                                    <div class="value">
                                        {{ _('pricing.service2.price') }}
                                    </div>

                                    <div class="features">
                                        <ul>
                                            <li>{{ _('pricing.service2.what_you_get1') }}</li>
                                            <li>{{ _('pricing.service2.what_you_get2') }}</li>
                                            <li>{{ _('pricing.service2.what_you_get3') }}</li>
                                            <li>{{ _('pricing.service2.what_you_get4') }}</li>
                                            <li>{{ _('pricing.service2.what_you_get5') }}</li>
                                        </ul>
                                    </div>

                                    <div class="order">
                                        <a href="#0" class="butn butn-bg">
                                            <span>{{ _('pricing.service2.buy_button') }}</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="item active mb-md50">

                                    <div class="type">
                                        <h4>{{ _('pricing.service3.title') }}</h4>
                                    </div>

                                    <div class="value">
                                        {{ _('pricing.service3.price') }}
                                    </div>

                                    <div class="features">
                                        <ul>
                                            <li>{{ _('pricing.service3.what_you_get1') }}</li>
                                            <li>{{ _('pricing.service3.what_you_get2') }}</li>
                                            <li>{{ _('pricing.service3.what_you_get3') }}</li>
                                            <li>{{ _('pricing.service3.what_you_get4') }}</li>
                                            <li>{{ _('pricing.service3.what_you_get5') }}</li>
                                        </ul>
                                    </div>

                                    <div class="order">
                                        <a href="#0" class="butn butn-light">
                                            <span>{{ _('pricing.service3.buy_button') }}</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="item">
                                    <div class="type">
                                        <h4>{{ _('pricing.service4.title') }}</h4>
                                    </div>

                                    <div class="value">
                                        {{ _('pricing.service4.price') }}
                                    </div>

                                    <div class="features">
                                        <ul>
                                            <li>{{ _('pricing.service4.what_you_get1') }}</li>
                                            <li>{{ _('pricing.service4.what_you_get2') }}</li>
                                            <li>{{ _('pricing.service4.what_you_get3') }}</li>
                                            <li>{{ _('pricing.service4.what_you_get4') }}</li>
                                            <li>{{ _('pricing.service4.what_you_get5') }}</li>
                                        </ul>
                                    </div>

                                    <div class="order">
                                        <a href="#0" class="butn butn-bg">
                                            <span>{{ _('pricing.service4.buy_button') }}</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

            <div class="curve curve-bottom"></div>
        </section>

        <!-- End Price ====
        ======================================= -->


        <!-- =====================================
        ==== Start Blog -->

        <section class="blog section-padding" data-scroll-index="5">
            <div class="container">
                <div class="row">

                    <div class="section-head offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                        <h4>{{ _('news.title') }}</h4>
                        <p>{{ _('news.description') }}</p>
                    </div>
                    <div class="col-lg-4">
                        <div class="item mb-md50">
                            <div class="post-img">
                                <div class="img">
                                    <img src="{{ url_for('static', filename='img/blog/1.jpg') }}" alt="">
                                </div>
                            </div>
                            <div class="cont">
                                <div class="info">
                                    <a href="#0">{{ _('news.article1.author') }}</a>
                                    <a href="#0">{{ _('news.article1.date') }}</a>
                                    <a href="#0" class="tag">{{ _('news.article1.tag') }}</a>
                                </div>
                                <h6><a href="#0">{{ _('news.article1.title') }}</a></h6>
                                <p>{{ _('news.article1.description') }}</p>
                                <a href="#0" class="more">{{ _('news.article1.read_more') }} <i class="fas fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="item mb-md50">
                            <div class="post-img">
                                <div class="img">
                                    <img src="{{ url_for('static', filename='img/blog/2.jpg') }}" alt="">
                                </div>
                            </div>
                            <div class="cont">
                                <div class="info">
                                    <a href="#0">{{ _('news.article2.author') }}</a>
                                    <a href="#0">{{ _('news.article2.date') }}</a>
                                    <a href="#0" class="tag">{{ _('news.article2.tag') }}</a>
                                </div>
                                <h6><a href="#0">{{ _('news.article2.title') }}</a></h6>
                                <p>{{ _('news.article2.description') }}</p>
                                <a href="#0" class="more">{{ _('news.article2.read_more') }} <i class="fas fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="item">
                            <div class="post-img">
                                <div class="img">
                                    <img src="{{ url_for('static', filename='img/blog/3.jpg') }}" alt="">
                                </div>
                            </div>
                            <div class="cont">
                                <div class="info">
                                    <a href="#0">{{ _('news.article3.author') }}</a>
                                    <a href="#0">{{ _('news.article3.date') }}</a>
                                    <a href="#0" class="tag">{{ _('news.article3.tag') }}</a>
                                </div>
                                <h6><a href="#0">{{ _('news.article3.title') }}</a></h6>
                                <p>{{ _('news.article3.description') }}</p>
                                <a href="#0" class="more">{{ _('news.article3.read_more') }} <i class="fas fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- End Blog ====
        ======================================= -->


        <!-- =====================================
        ==== Start Call-Action -->

        <section class="call-action section-padding bg-img bg-fixed" data-overlay-color="5" data-background="{{ url_for('static', filename='img/bg2.jpg') }}">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12">
                        <div class="text-center">
                            <h2>{{ _('work_with_us.title') }}</h2>
                            <h5>{{ _('work_with_us.cta') }}</h5>
                            <a href="#0" class="butn butn-bg">
                                <span>{{ _('work_with_us.button') }}</span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- End Call-Action ====
        ======================================= -->


        <!-- =====================================
        ==== Start Contact -->

       <section class="contact section-padding" data-scroll-index="6">
           <div class="container">
               <div class="row">

                    <div class="section-head offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                        <h4>{{ _('contact_us.title') }}</h4>
                        <p>{{ _('contact_us.description') }}</p>
                    </div>

                    <div class="col-lg-5">
                        <div class="contact-info mb-md50">
                            <h5>{{ _('contact_us.contacts.title') }}</h5>
                            <p>{{ _('contact_us.contacts.description') }}</p>
                            <div class="item">
                                <span class="icon icon-basic-tablet"></span>
                                <div class="cont">
                                    <h6>{{ _('contact_us.contacts.phone.title') }}</h6>
                                    <p>{{ _('contact_us.contacts.phone.text') }}</p>
                                </div>
                            </div>
                            <div class="item">
                                <span class="icon icon-basic-mail-open-text"></span>
                                <div class="cont">
                                    <h6>{{ _('contact_us.contacts.email.title') }}</h6>
                                    <p>{{ _('contact_us.contacts.email.text') }}</p>
                                </div>
                            </div>
                            <div class="item">
                                <span class="icon icon-basic-geolocalize-05"></span>
                                <div class="cont">
                                    <h6>{{ _('contact_us.contacts.address.title') }}</h6>
                                    <p>{{ _('contact_us.contacts.address.text') }}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-7">
                        <form class="form" id="contact-form" method="post" action="contact.php">

                            <div class="messages"></div>

                            <div class="controls">

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input id="form_name" type="text" name="name" placeholder="Name" required="required">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input id="form_email" type="email" name="email" placeholder="Email" required="required">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input id="form_subject" type="text" name="subject" placeholder="Subject">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea id="form_message" name="message" placeholder="Message" rows="4" required="required"></textarea>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <button type="submit" class="butn butn-bg"><span>{{ _('contact_us.contact_form.button_send') }}</span></button>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>

               </div>
           </div>
       </section>

        <!-- End Contact ====
        ======================================= -->


        <!-- =====================================
        ==== Start Footer -->

        <footer class="text-center pos-re">
            <div class="container">
                <!-- Logo -->
                <a class="logo" href="#">
                    <img src="{{ url_for('static', filename='img/logo-light.png') }}" alt="logo">
                </a>

                <div class="social">
                    <a href="#0"><i class="fab fa-facebook-f"></i></a>
                    <a href="#0"><i class="fab fa-twitter"></i></a>
                    <a href="#0"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#0"><i class="fab fa-behance"></i></a>
                    <a href="#0"><i class="fab fa-pinterest-p"></i></a>
                </div>

                <p>{{ _('footer.copyright') }}</p>
            </div>

            <div class="curve curve-top curve-center"></div>
        </footer>

        <!-- End Footer ====
        ======================================= -->





        <!-- jQuery -->
        <script src="{{ url_for('static', filename='js/jquery-3.0.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-migrate-3.0.0.min.js') }}"></script>

        <!-- popper.min -->
        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>

        <!-- bootstrap -->
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

        <!-- scrollIt -->
        <script src="{{ url_for('static', filename='js/scrollIt.min.js') }}"></script>

        <!-- jquery.waypoints.min -->
        <script src="{{ url_for('static', filename='js/jquery.waypoints.min.js') }}"></script>

        <!-- owl carousel -->
        <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>

        <!-- jquery.magnific-popup js -->
        <script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>

        <!-- stellar js -->
        <script src="{{ url_for('static', filename='js/jquery.stellar.min.js') }}"></script>

        <!-- isotope.pkgd.min js -->
        <script src="{{ url_for('static', filename='js/isotope.pkgd.min.js') }}"></script>

        <!-- YouTubePopUp.jquery -->
        <script src="{{ url_for('static', filename='js/YouTubePopUp.jquery.js') }}"></script>

        <!-- validator js -->
        <script src="{{ url_for('static', filename='js/validator.js') }}"></script>

        <!-- custom scripts -->
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

    </body>
</html>